<style>
	.card {
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	.card-header {
		background-color: #f8f9fa;
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}

	.card-body {
		padding: 15px;
	}

	.card-body h2.lead {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.card-body p.text-muted {
		margin-bottom: 5px;
	}

	.card-body ul.ml-4 {
		margin-top: 15px;
	}

	.card-body ul.ml-4 li.small {
		margin-bottom: 5px;
	}

	.card-body .email-label {
		display: inline-block;
		width: 60px;
	}

	.card-footer {
		background-color: #f8f9fa;
		padding: 10px;
		border-top: 1px solid #ddd;
	}

	.card-footer .btn {
		margin-left: 5px;
	}

	.img-circle {
		border-radius: 50%;
	}

	.card-header h3 {
		text-align: center;
		margin-top: 50px;
	}

	.altura {
		margin-top: 50px;
	}

	.user-avatar {
		position: relative;
		display: inline-block;
	}

	.user-icon {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(50%, 50%);
		font-size: 30px;
	}

	.fa-stack {
		margin-right: 5px;
		vertical-align: middle;
	}

	.fa-stack-2x {
		font-size: 24px;
	}
</style>

<div class="altura">
	<section>
		<div class="container">
			<div class="card">
				<div class="card-header">
					<h3>Reservas Hoteles</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div th:each="reserva : ${reservas}" class="col-12 col-sm-6 col-md-4"
							th:if="${reserva.habitacion != null}">
							<div class="card bg-light mb-4">
								<div class="card-body">
									<div class="row">
										<div class="col-12 align-right">

											<p class="text-muted text-sm">Fecha Inicio: <span
													th:text="${ reserva.fecha_inicio }"></span></p>
											<p class="text-muted text-sm">Fecha fin: <span
													th:text="${reserva.fecha_fin}"></span></p>
											<ul class="ml-4 mb-0 fa-ul text-muted">
												<li class="small">
													<span class="fa-li"><i class="fa-solid fa-hotel"></i></span>
													<span th:text="|Hotel: ${ reserva.habitacion?.hotel?.nombre }|">
													</span>
												</li>

												<li class="small">
													<span class="fa-li"><i class="fa-solid fa-door-open"></i></span>
													<span
														th:text="|Nº de habitación: ${reserva.habitacion?.id}|"></span>
												</li>
												<li class="small">
													<span class="fa-li"><i class="fa-solid fa-list-ol"></i></span>
													<span th:text="|Huéspedes: ${reserva.huespedes}|"></span>
												</li>
												<li class="small">
													<span class="fa-li"><i class="fas fa-dollar-sign"></i></span>
													<span th:text="|Precio: ${reserva.precio}€|"></span>
												</li>
												<li class="small">
													<span class="fa-li"><i class="fas fa-user"></i></span>
													<span th:text="|Usuario: ${reserva.user?.username}|"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<div class="text-right">
										<form action="/reserva/d" method="post">
											<input type="hidden" th:value="${reserva.id}" name="id" />
											<button class="btn btn-danger">
												<i class="fa-solid fa-trash"></i></i> Eliminar
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Reservas Apartamentos</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div th:each="reserva : ${reservas}" class="col-12 col-sm-6 col-md-4"
							th:if="${reserva.apartamento != null}">
							<div class="card bg-light mb-4">
								<div class="card-body">
									<div class="row">
										<div class="col-8 align-right">

											<p class="text-muted text-sm">Fecha Inicio: <span
													th:text="${ reserva.fecha_inicio }"></span></p>
											<p class="text-muted text-sm">Fecha fin: <span
													th:text="${reserva.fecha_fin}"></span></p>
											<ul class="ml-4 mb-0 fa-ul text-muted">
												<li class="small">
													<span class="fa-li"><i class="fa-regular fa-building"></i></span>
													<span th:if="${ reserva.apartamento != null}"
														th:text="|Apartamento: ${ reserva.apartamento?.nombre }|"></span>
												</li>
												<li class="small">
													<span class="fa-li"><i class="fa-solid fa-list-ol"></i></span>
													<span th:text="|Huéspedes: ${reserva.huespedes}|"></span>
												</li>
												<li class="small">
													<span class="fa-li"><i class="fas fa-dollar-sign"></i></span>
													<span th:text="|Precio: ${reserva.precio}€|"></span>
												</li>
												<li class="small">
													<span class="fa-li"><i class="fas fa-user"></i></span>
													<span th:text="|Usuario: ${reserva.user?.username}|"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<div class="text-right" sec:authorize="hasRole('ROLE_USER')">
										<form action="/reserva/d"  method="post">
											<input type="hidden" th:value="${reserva.id}" name="id" />
											<button class="btn btn-danger">
												<i class="fa-solid fa-trash"></i></i> Eliminar
											</button>
										</form>
									</div>
									<div class="text-right" sec:authorize="hasRole('ROLE_ADMIN')">

										<form action="/reserva/dAdmin" 
											method="post">
											<input type="hidden" th:value="${reserva.id}" name="id" />
											<button class="btn btn-danger">
												<i class="fa-solid fa-trash"></i></i> Eliminar
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</section>
</div>