<div class="altura">
	<section>
		<div class="container">
			<div class="card">
				<div class="card-header">
					<h3>LISTA DE HOTELES</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div th:each="hotel : ${hoteles}" class="col-12 col-sm-6 col-md-4">
							<div class="card bg-light mb-4">
								<div class="card-body">
									<div class="row">
										<div class="col-12 align-right">
											<p class="text-muted text-sm">Nombre: <b><span
													th:text="${hotel.nombre}"></span></b></p>
											<ul class="ml-4 mb-0 fa-ul text-muted">
												<li class="small">
													<p>
														<span class="fa-li"><i
																class="fa-solid fa-location-dot"></i></span>
														<span th:text="|Direccion: ${hotel.direccion}|"></span>
													</p>
												</li>
												<li class="small">
													<p>
														<span class="fa-li"><i class="fas fa-envelope"></i></span>
														<span th:text="|Email: ${hotel.correo}| "
															style="margin-right: 0.5em;"></span>
													</p>
												</li>
												<li class="small" style="white-space: nowrap;">
													<p>

														<span class="fa-li"><i class="fa-solid fa-star"></i></span>
														<span th:text="|Estrellas: ${hotel.estrellas}|"></span>
													</p>
												</li>
												<li class="small">
													<p>
														<span class="fa-li"><i class="fas fa-phone"></i></span>
														<span th:text="|Teléfono: ${hotel.telefono}|"></span>
													</p>
												</li>
												<li class="small" style="white-space: nowrap;">
													<p>
														<span class="fa-li"><i
																class="fa-solid fa-map-location-dot"></i></span>
														<span th:text="|Ciudad: ${hotel.ciudad?.nombre}|"></span>
													</p>
												</li>
											</ul>
										</div>
									</div>
									<div class="card-footer">
										<div class="text-right">

											<div class="row">
												<div class="col-md-6">
													<form action="/hoteles/u" method="post">
														<input type="hidden" th:value="${ hotel.id }" name="id" />
														<button class="btn btn-primary btn-block" onclick="submit()">
															<i class="fa-solid fa-pen-to-square"></i>Modificar
														</button>
													</form>
												</div>
												<div class="col-md-6">
													<form action="/hoteles/d" sec:authorize="hasRole('ROLE_USER')" method="post">
														<input type="hidden" th:value="${ hotel.id }" name="id" />
														<button class="btn btn-danger btn-block" onclick="submit()">
															<i class="fa-solid fa-trash"></i>Eliminar
														</button>
													</form>
												</div>
												<div class="col-md-6">
													<form action="/hoteles/dAdmin" sec:authorize="hasRole('ROLE_ADMIN')" method="post">
														<input type="hidden" th:value="${ hotel.id }" name="id" />
														<button class="btn btn-danger btn-block" onclick="submit()">
															<i class="fa-solid fa-trash"></i>Eliminar
														</button>
													</form>
												</div>
											</div>
											<div class="row">
												<div class="col-md-1"></div>

												<div class="col-md-10 mt-1">
													<form action="/habitacion/r">
														<input type="hidden" th:value="${ hotel.id }" name="id" />
														<button class="btn btn-secondary btn-block" onclick="submit()">
															Mostrar Habitaciones
														</button>
													</form>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="text-left mt-3 mb-2 ml-2 buttons-container">
					<a class="btn btn-secondary" href="javascript:history.back()">Cancelar</a>
				</div>
			</div>
		</div>
	</section>
</div>