<div class="altura">
	<section>
		<style>
			h1 {
				text-align: center;
				margin-bottom: 30px;
				color: #333;
			}

			.card {
				margin-top: 20px;
			}

			.card-header {
				background-color: #f8f9fa;
			}

			.card-header p {
				margin: 0;
				font-weight: bold;
			}

			/* Estilos adicionales */
			.form-group label {
				color: #333;
				font-weight: bold;
			}

			.form-control {
				border: 1px solid #ccc;
				border-radius: 4px;
				padding: 8px;
				width: 100%;
				box-sizing: border-box;
			}

			select.form-control {
				height: 38px;
			}

			textarea.form-control {
				height: 120px;
			}

			.btn-primary {
				background-color: #007bff;
				color: #fff;
				border: none;
				padding: 10px 20px;
				border-radius: 4px;
			}

			.btn-secondary {
				background-color: #6c757d;
				color: #fff;
				border: none;
				padding: 10px 20px;
				border-radius: 4px;
			}

			.btn-primary:hover,
			.btn-secondary:hover {
				opacity: 0.8;
			}
		</style>

		<div class="container bg-light">
			<h1 class="text-center">Modificar Hotel</h1>
			<form action="/hoteles/uPost" method="post" enctype="multipart/form-data">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" id="nombre" th:value="${hotel.nombre}" name="nombre" required autofocus />
					</div>
					<div class="form-group col-md-6">
						<label for="direccion">Direccion</label>
						<input type="text" class="form-control" id="direccion" th:value="${hotel.direccion}" name="direccion" required />
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="telefono">Telefono</label>
						<input type="number" class="form-control" id="telefono" th:value="${hotel.telefono}" name="telefono" required />
					</div>
					<div class="form-group col-md-6">
						<label for="correo">Correo</label>
						<input type="email" class="form-control" id="correo"  th:value="${hotel.correo}" name="correo" required />
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="estrellas">Estrellas</label>
						<input type="number" class="form-control" id="estrellas" th:value="${hotel.estrellas}" name="estrellas" required />
					</div>
					<div class="form-group col-md-6">
						<label for="idCiudades">Ciudad</label>
						<select name="ciudad" class="form-control" id="ciudad" required>
							<option th:each="ciudad : ${ciudades}" th:value="${ciudad.id}" th:selected="${hotel.ciudad?.nombre == ciudad.nombre}" th:text="${ciudad.nombre}" />
						</select>
					</div>
				</div>
				<input type="hidden" name="id" th:value="${hotel.id}" />

				<div class="text-left mt-3">
						<button class="btn btn-secondary" onclick="goBack()">Cancelar</button>
	<button class="btn btn-primary" sec:authorize="isAuthenticated()" >Modificar</button>
					
					
				</div>
				<form th:action="@{/login}">
						<button class="btn btn-primary" sec:authorize="!isAuthenticated()">Modificar</button>
					</form>
			</form>
			
		</div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
	
	
	$(document).ready(function () {
		// Inicializar Select2
		$('#comodidades').select2();
	});
	
</script>
<script>
function goBack() {
		window.history.back();
	}
</script>