<div class="altura">
	<section>
		<style>
			h1 {
				text-align: center;
				margin-bottom: 30px;
				color: #333;
			}

			.card {
				margin-top: 20px;
			}

			.card-header {
				background-color: #f8f9fa;
			}

			.card-header p {
				margin: 0;
				font-weight: bold;
			}

			/* Estilos adicionales */
			.form-group label {
				color: #333;
				font-weight: bold;
			}

			.form-control {
				border: 1px solid #ccc;
				border-radius: 4px;
				padding: 8px;
				width: 100%;
				box-sizing: border-box;
			}

			select.form-control {
				height: 38px;
			}

			textarea.form-control {
				height: 120px;
			}

			.btn-primary {
				background-color: #007bff;
				color: #fff;
				border: none;
				padding: 10px 20px;
				border-radius: 4px;
			}

			.btn-secondary {
				background-color: #6c757d;
				color: #fff;
				border: none;
				padding: 10px 20px;
				border-radius: 4px;
			}

			.btn-primary:hover,
			.btn-secondary:hover {
				opacity: 0.8;
			}
		</style>

		<div class="container bg-light">
			<h1 class="text-center">Modificar Hotel</h1>
			<form action="/hoteles/uPost" method="post" enctype="multipart/form-data"
				onsubmit="return validateFormulario()">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" id="nombre" th:value="${hotel.nombre}" name="nombre"
							required oninput="validateName()" readonly />
						<small id="nombreError" class="form-text text-danger"></small>
					</div>
					<div class="form-group col-md-6">
						<label for="direccion">Dirección</label>
						<input type="text" class="form-control" id="direccion" th:value="${hotel.direccion}"
							name="direccion" required oninput="validateDireccion()" />
						<small id="direccionError" class="form-text text-danger"></small>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="telefono">Teléfono</label>
						<input type="number" class="form-control" id="telefono" th:value="${hotel.telefono}"
							name="telefono" required oninput="validateTelefono()" readonly />
						<small id="telefonoError" class="form-text text-danger"></small>
					</div>
					<div class="form-group col-md-6">
						<label for="correo">Correo</label>
						<input type="email" class="form-control" id="correo" th:value="${hotel.correo}" name="correo"
							required oninput="validateCorreo()" readonly />
						<small id="correoError" class="form-text text-danger"></small>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="estrellas">Estrellas</label>
						<input type="number" class="form-control" id="estrellas" th:value="${hotel.estrellas}"
							name="estrellas" required oninput="validateEstrellas()" />
						<small id="estrellasError" class="form-text text-danger"></small>
					</div>
					<div class="form-group col-md-6">
						<label for="idCiudades">Ciudad</label>
						<select name="ciudad" class="form-control" id="ciudad" required>
							<option th:each="ciudad : ${ciudades}" th:value="${ciudad.id}"
								th:selected="${hotel.ciudad?.nombre == ciudad.nombre}" th:text="${ciudad.nombre}" />
						</select>
					</div>
				</div>
				<input type="hidden" name="id" th:value="${hotel.id}" />

				<div class="text-left mt-3">
					<button class="btn btn-secondary" onclick="goBack()">Cancelar</button>
					<button class="btn btn-primary" sec:authorize="isAuthenticated()">Modificar</button>


				</div>
				<form th:action="@{/login}">
					<button class="btn btn-primary" sec:authorize="!isAuthenticated()">Modificar</button>
				</form>
			</form>

		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
		<script>


			$(document).ready(function () {
				// Inicializar Select2
				$('#comodidades').select2();
			});

		</script>
		<script>
			function goBack() {
				window.history.back();
			}
		</script>
		<script>


			function validateName() {
				var nameInput = document.getElementById('nombre');
				var nameError = document.getElementById('nombreError');

				var nameRegex = /^[a-zA-ZÁÉÍÓÚáéíóúÑñÇç]+( [a-zA-ZÁÉÍÓÚáéíóúÑñÇç]+)*$/; // Expresión regular para letras y un único espacio

				if (!nameInput.value.trim() || !nameRegex.test(nameInput.value.trim()) || nameInput.value.trim().length !== nameInput.value.trim().replace(/ +(?= )/g, '').length) {
					nameInput.classList.add('is-invalid');
					nameError.textContent = 'Ingrese solo letras y un único espacio.';
					return false;
				} else {
					nameInput.classList.remove('is-invalid');
					nameError.textContent = '';
					return true;
				}
			}

			function validateDireccion() {
				var direccionInput = document.getElementById('direccion');
				var direccionError = document.getElementById('direccionError');

				var direccionRegex = /^[a-zA-ZÁÉÍÓÚáéíóúÑñÇç][a-zA-ZÁÉÍÓÚáéíóúÑñÇç0-9]*( [a-zA-ZÁÉÍÓÚáéíóúÑñÇç0-9]+)*$/; // Expresión regular para letras, números y un único espacio

				if (!direccionInput.value.trim() || !direccionRegex.test(direccionInput.value.trim()) || direccionInput.value.trim().length !== direccionInput.value.trim().replace(/ +(?= )/g, '').length || !/^[a-zA-Z]/.test(direccionInput.value.trim())) {
					direccionInput.classList.add('is-invalid');
					direccionError.textContent = 'Ingrese una dirección válida que empiece con una letra y contenga solo letras, números y un único espacio.';
					return false;
				} else {
					direccionInput.classList.remove('is-invalid');
					direccionError.textContent = '';
					return true;
				}
			}

			function validateTelefono() {
				var telefonoInput = document.getElementById('telefono');
				var telefonoError = document.getElementById('telefonoError');

				var telefonoRegex = /^[6-9]\d{8}$/; // Expresión regular para números de teléfono de 9 dígitos que empiezan con 6, 7, 8 o 9

				if (!telefonoInput.value.trim() || !telefonoRegex.test(telefonoInput.value.trim())) {
					telefonoInput.classList.add('is-invalid');
					telefonoError.textContent = 'Ingrese un número de teléfono válido.';
					return false;
				} else {
					telefonoInput.classList.remove('is-invalid');
					telefonoError.textContent = '';
					return true;
				}
			}

			function validateCorreo() {
				var correoInput = document.getElementById('correo');
				var correoError = document.getElementById('correoError');

				var correoRegex = /^[a-zA-Z0-9][a-zA-Z0-9._-]*@[a-zA-Z0-9]+(\.[a-zA-Z]{2,4})$/; // Expresión regular para correo electrónico

				if (!correoInput.value.trim() || !correoRegex.test(correoInput.value.trim())) {
					correoInput.classList.add('is-invalid');
					correoError.textContent = 'Ingrese un correo electrónico válido.';
					return false;
				} else {
					correoInput.classList.remove('is-invalid');
					correoError.textContent = '';
					return true;
				}
			}


			function validateEstrellas() {
				var estrellasInput = document.getElementById('estrellas');
				var estrellasError = document.getElementById('estrellasError');

				if (estrellasInput.value < 1 || estrellasInput.value > 5) {
					estrellasInput.classList.add('is-invalid');
					estrellasError.textContent = 'Debe tener entre 5 y 1 estrella.';
					return false;

				} else {
					estrellasInput.classList.remove('is-invalid');
					estrellasError.textContent = '';
					return true;

				}
			}

			function validateFormulario() {
				var isNombreValid = validateName();
				var isDireccionValid = validateDireccion();
				var isTelefonoValid = validateTelefono();
				var isCorreoValid = validateCorreo();
				var isEstrellasValid = validateEstrellas();

				if (  isDireccionValid && isEstrellasValid) {
					return true;
				} else {
					return false;
				}
			}


		</script>