<style>
.custom-carousel-image {
    height: 280px;
    width: 420px;
    object-fit: contain; /* Ajusta la imagen dentro del tamaño especificado */
}
</style>
<section>
	<div class="alturaBusq">
		<div class="container containerBusq">
			<div class="row">
				<div class="col-12 filtro">
					<form action="/home/buscador/filtro" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-3 col-12">
								<label for="idCiudad">Ciudad</label>
								<select class="form-control" name="IdCiudad" id="idCiudad" required>
									<option th:each="ciud : ${ciudades}" th:value="${ciud.id}" th:text="${ciud.nombre}"
										th:selected="${ciudad?.id == ciud.id}" />
								</select>
							</div>
							<div class="form-group col-md-3">
								<label for="fechaEntrada">Check-in</label>
								<input type="date" class="form-control" name="checkIn"
									th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" id="check-in"
									th:value="${checkin}" required />
							</div>
							<div class="form-group col-md-3">
								<label for="fechaSalida">Check-out</label>
								<input type="date" class="form-control" name="checkOut" id="check-out"
									th:value="${checkout}" />
							</div>
							<div class="form-group col-md-3">
								<label for="alojamiento">Tipo de alojamiento:</label>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="alojamiento" id="hotel"
										value="hotel" th:checked="${alojamient == 'hotel'}" required>
									<label class="form-check-label" for="hotel">Hotel</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="alojamiento" id="apartamento"
										value="apartamento" th:checked="${alojamient == 'apartamento'}" required>
									<label class="form-check-label" for="apartamento">Apartamento</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<label for="num-huespedes">Número de huéspedes:</label>
								<input type="number" th:value="${capacidad}" name="huespedes" class="form-control"
									id="num-huespedes" required>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label for="idComodidad">Comodidades</label>
									<select class="form-control" type="checkbox" name='idComodidades'
										th:value="${comodidad?.id}" id="comodidades" multiple>
										<option th:each=" comodidad : ${comodidades} " th:value="${comodidad.id}"
											th:text="${comodidad.nombre}"
											th:selected="${comodidadesSelect.contains(comodidad)}">
									</select>
								</div>
							</div>
							<div class="col-md-2 align-self-end">
								<div class="form-group">
									<label class="invisible">Botón de filtrar</label>
									<input type="submit" class="btn btn-secondary float-right" id="btn-filtrar"
										value="Filtrar" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div id="hoteles-container"></div>

					<div id="listaAlojamiento">
						<div th:each="alojamiento, alojamientoIndex : ${alojamientos}" id="lista"
							class="row row-spacing">
							<div class="col-md-12">
								<a class="text-decoration-none text-dark"
									th:href="@{/reserva/{id}(id=${alojamiento.id}, alojamiento=${alojamient},checkin=${checkin}, checkout=${checkout}, capacidad=${capacidad})}">
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div th:id="'carouselExampleControls-' + ${alojamientoIndex.index}"
														class="carousel slide" data-ride="carousel">
														<div class="carousel-inner">
															<th:block th:each="foto, status : ${alojamiento.fotos}">
																<div
																	th:class="${status.index == 0 ? 'carousel-item active' : 'carousel-item'}">
																	<div class="carousel-image-container">
																		<img class="img-fluid custom-carousel-image"
																			th:src="${foto.ruta}" alt="Imagen 1">
																	</div>
																</div>
															</th:block>
														</div>
														<th:block th:if="${alojamiento.fotos.size() > 1}">
															<a class="carousel-control-prev"
																th:href="|#carouselExampleControls-${alojamientoIndex.index}|"
																role="button" data-slide="prev">
																<span class="carousel-control-prev-icon"
																	aria-hidden="true"></span>
																<span class="sr-only">Previous</span>
															</a>
															<a class="carousel-control-next"
																th:href="|#carouselExampleControls-${alojamientoIndex.index}|"
																role="button" data-slide="next">
																<span class="carousel-control-next-icon"
																	aria-hidden="true"></span>
																<span class="sr-only">Next</span>
															</a>
														</th:block>
													</div>
												</div>

												<div class="col-md-6">
													<div class="card-body">
														<b>
															<h3 th:if="${alojamient == 'hotel'}"
																th:text="${alojamiento.hotel?.nombre}" />
														</b>
														<h5 th:if="${alojamient == 'hotel'}"
															th:text="|Habitacion número ${alojamiento?.id}|" />
														<b>
															<h3 th:if="${alojamient == 'apartamento'}"
																th:text="${alojamiento?.nombre}" />
														</b>
														<h5 th:if="${alojamient == 'apartamento'}"
															th:text="|${alojamiento?.direccion}, ${alojamiento?.ciudad?.nombre}|" />
														<p th:text="${alojamiento?.descripcion}" />

														<p th:if="${alojamient == 'hotel'}">
															<span
																th:each="i : ${#numbers.sequence(1, alojamiento.hotel?.estrellas)}">
																<i class="fas fa-star"></i>
															</span>
														</p>
														<b>
															<p th:text="|${alojamiento?.precio}€ /Noche|" />
														</b>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
	$(document).ready(function () {
		// Inicializar Select2
		$('#comodidades').select2();
	});
</script>

<!-- Incluye Select2 JS -->
<script>
	var checkInInput = document.getElementById("check-in");
	var checkOutInput = document.getElementById("check-out");

	// Bloquear fechas anteriores a mañana en Check-in
	var tomorrow = new Date();
	tomorrow.setDate(tomorrow.getDate() + 1);
	var tomorrowFormatted = tomorrow.toISOString().split("T")[0];
	checkInInput.min = tomorrowFormatted;

	// Actualizar Check-out al cambiar Check-in
	checkInInput.addEventListener("change", function () {
		var checkInDate = new Date(this.value);
		var minCheckOutDate = new Date(checkInDate);
		minCheckOutDate.setDate(minCheckOutDate.getDate() + 1);

		var minCheckOutFormatted = minCheckOutDate.toISOString().split("T")[0];
		checkOutInput.min = minCheckOutFormatted;

		if (checkOutInput.value < minCheckOutFormatted) {
			checkOutInput.value = minCheckOutFormatted;
		}
	});

	// Bloquear fechas no válidas en Check-out
	checkOutInput.addEventListener("change", function () {
		var checkInDate = new Date(checkInInput.value);
		var checkOutDate = new Date(this.value);
		var minCheckOutDate = new Date(checkInDate);
		minCheckOutDate.setDate(minCheckOutDate.getDate() + 1);

		if (checkOutDate <= minCheckOutDate) {
			checkOutInput.value = minCheckOutFormatted;
		}
	});
</script>