<div class="altura">
	<section>
		<style>
			.container-form {
				max-width: 800px;
				margin: 0 auto;
			}

			.card {
				border: 1px solid #ccc;
				border-radius: 5px;
				padding: 20px;
				margin-bottom: 20px;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			}

			.card-title {
				font-size: 24px;
				font-weight: bold;
			}

			.card-text {
				margin-bottom: 10px;
			}

			.btn-submit {
				background-color: #007bff;
				color: #fff;
				padding: 10px 20px;
				border: none;
				border-radius: 5px;
				cursor: pointer;
			}

			.btn-submit:hover {
				background-color: #0056b3;
			}
		</style>
		<div class="container-form">
			<h1 class="mt-4">Reserva de Apartamentos y Habitaciones de Hotel</h1>

			<h2 class="mt-4">Descripción general de servicios</h2>
			<p>StayHere ofrece una plataforma fácil de usar para reservar apartamentos y habitaciones de hotel en todo
				el mundo. Ya sea que estés buscando unas vacaciones relajantes o un viaje de negocios, nuestra
				aplicación te permite encontrar y reservar el alojamiento perfecto para satisfacer tus necesidades.</p>

			<h2 class="mt-4">Listado de servicios</h2>

			<div class="card mt-4">
				<div class="card-body">
					<h3 class="card-title">1. Búsqueda y filtrado intuitivo</h3>
					<p class="card-text">Utiliza nuestra potente función de búsqueda para encontrar alojamientos por
						ubicación, fechas, número de huéspedes y otras preferencias.</p>
					<p class="card-text">Filtra los resultados según tus necesidades específicas, como precio,
						comodidades, tipo de alojamiento y más.</p>
				</div>
			</div>
			<div class="card mt-4">
				<div class="card-body">
					<h3 class="card-title">2. Detalles completos de alojamiento</h3>
					<p class="card-text">Accede a información detallada de cada apartamento y habitación de hotel,
						incluyendo imágenes, descripción, comodidades disponibles, políticas de cancelación y opiniones
						de otros huéspedes.</p>
					<p class="card-text">Visualiza ubicaciones en mapas y obtén indicaciones para llegar al alojamiento
						deseado.</p>
				</div>
			</div>
			<div class="card mt-4">
				<div class="card-body">
					<h3 class="card-title">3. Reservas seguras y sencillas</h3>
					<p class="card-text">Realiza reservas de forma rápida y segura con unos pocos clics.</p>
					<p class="card-text">Administra tus reservas existentes, consulta los detalles, realiza cambios o
						cancelaciones según sea necesario.</p>
				</div>
			</div>
			<div class="card mt-4">
				<div class="card-body">
					<h3 class="card-title">4. Atención al cliente dedicada</h3>
					<p class="card-text">Nuestro equipo de soporte está disponible para ayudarte con cualquier consulta
						o problema que puedas tener durante el proceso de reserva.</p>
					<p class="card-text">Contáctanos a través de nuestro formulario de contacto o utilizando la
						información de contacto proporcionada.</p>
				</div>
			</div>
		</div>


	</section>
</div>