<style>
	.card {
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	.card-header {
		background-color: #f8f9fa;
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}

	.card-body {
		padding: 15px;
	}

	.card-body h2.lead {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.card-body p.text-muted {
		margin-bottom: 5px;
	}

	.card-body ul.ml-4 {
		margin-top: 15px;
	}

	.card-body ul.ml-4 li.small {
		margin-bottom: 5px;
	}

	.card-body .email-label {
		display: inline-block;
		width: 60px;
	}

	.card-footer {
		background-color: #f8f9fa;
		padding: 10px;
		border-top: 1px solid #ddd;
	}

	.card-footer .btn {
		margin-left: 5px;
	}

	.img-circle {
		border-radius: 50%;
	}


	.card-header h3 {
		text-align: center;
		margin-top: 50px;
	}

	.altura {
		margin-top: 50px;
	}

	.user-avatar {
		position: relative;
		display: inline-block;
	}

	.user-icon {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(50%, 50%);
		font-size: 30px;
	}

	.fa-stack {
		margin-right: 5px;
		vertical-align: middle;
	}

	.fa-stack-2x {
		font-size: 24px;
	}

	.btn {
		border: none;
		padding: 10px 20px;
		border-radius: 4px;
	}
</style>

<div class="altura">
	<section>
		<div class="container">
			<div class="card">
				<div class="card-header">
					<h3>LISTA DE APARTAMENTOS</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div th:each="apartamento : ${apartamentos}" class="col-12 col-sm-6 col-md-4">
							<div class="card bg-light mb-4">
								<div class="card-body">
									<div class="row">
										<div class="col-12 align-right">


											<p class="text-muted text-sm">Nombre: <b><span
														th:text="${apartamento.nombre}"></span></b></p>
											<ul class="ml-4 mb-0 fa-ul text-muted">
												<li class="small">
													<p>
														<span class="fa-li"><i
																class="fa-solid fa-location-dot"></i></span>
														<span th:text="|Direccion: ${apartamento.direccion}|"></span>
													</p>
												</li>
												<li class="small">
													<p>
														<span class="fa-li"><i class="fas fa-envelope"></i></span>
														<span th:text="|Email: ${apartamento.correo}|"
															style="margin-right: 0.5em;"></span>
													</p>
												</li>

												<li class="small">
													<p>

														<span class="fa-li"><i
																class="fa-solid fa-dollar-sign"></i></span>
														<span th:text="|Precio: ${apartamento.precio}€|"></span>
												</li>
												</p>

												<li class="small">
													<p>

														<span class="fa-li"><i class="fa-solid fa-list-ol"></i></span>
														<span th:text="|Capacidad: ${apartamento.capacidad}|"></span>
													</p>

												</li>
												<li class="small">
													</p>

													<span class="fa-li"><i class="fas fa-phone"></i></span>
													<span th:text="|Teléfono: ${apartamento.telefono}|"></span>
													</p>

												</li>
												<li class="small" style="white-space: nowrap;">
													<p>

														<span class="fa-li"><i
																class="fa-solid fa-map-location-dot"></i></span>
														<span th:text="|Ciudad: ${apartamento.ciudad?.nombre}|"></span>
													</p>

												</li>


											</ul>
										</div>

									</div>


									<div class="card-footer">
										<div class="text-right">
											<div class="row">
												<div class="col-6 text-center">
													<form action="/apartamento/u">
														<input type="hidden" th:value="${ apartamento.id }" name="id" />
														<button class="btn btn-sm btn-primary" onclick="submit()">
															<i class="fa-solid fa-pen-to-square"></i>Modificar</button>
													</form>
												</div>
												<div class="col-6 text-center">
													<form action="/apartamento/d" method="post">
														<input type="hidden" th:value="${ apartamento.id }" name="id" />
														<button class="btn btn-sm btn-danger" onclick="submit()">
															<i class="fa-solid fa-trash"></i>Eliminar</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>