<section>
<div class="row">
	<div class="col-3">
	Ciudad<br>
	<input type="text" name="idCiudad" /><br>
	Fecha de Entrada<br>
	<input type="text" name="fechaEntrada"  /><br>
	Fecha de Salida<br>
	<input type="text" name="fechaSalida"  /><br>
	<b>Tipo de alojamiento:</b><br/>
						<label class="form-control-label" for="hotel">Hotel</label>
						<input type="radio" class="form-control-radio" name="alojamiento" id="hotel" value="hotel">
						
						<label class="form-control-label" for="apartamento">Apartamento</label>
						<input type="radio" class="form-control-radio" name="alojamiento" id="apartamento" value="apartamento">
	<br/>
	

</section>
<!-- Agrega esto en la sección <head> de tu archivo HTML -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
