<div class="container">
	<h1>Crear Habitacion</h1>
	<form action="/habitacion/u" method="post" enctype="multipart/form-data">
		<h2>Habitaciones</h2>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="capacidad">Capacidad</label>
				<input type="number" class="form-control" th:value="${habitacion.capacidad}" id="capacidad"
					name="capacidad" required oninput="validateCapacidad()" />
				<small id="capacidadError" class="form-text text-danger"></small>
			</div>

			<div class="form-group col-md-6">
				<label for="precio">Precio</label>
				<input type="number" class="form-control" th:value="${habitacion.precio}" id="precio" name="precio"
					required oninput="validatePrecio()" />
				<small id="precioError" class="form-text text-danger"></small>
			</div>
		</div>
		<div class="form-row">

			<div class="form-group col-md-6">
				<label for="idComodidad">Comodidades</label>
				<select class="form-control" type="checkbox" name='idComodidad' th:value="${comodidad?.id}"
					id="comodidades" multiple>
					<option th:each=" comodidad : ${comodidades} " th:value="${comodidad.id}"
						th:text="${comodidad.nombre}" th:selected="${habitacion.comodidades.contains(comodidad)}">
				</select>
			</div>

		</div>
		<div class="form-row">

			<div class="form-group col-md-12">
				<label for="descripcion">Descripción</label>
				<textarea class="form-control" id="descripcion" th:text="${habitacion.descripcion}" name="descripcion"
					required oninput="validateDescripcion()"></textarea>
					<small id="descripcionError" class="form-text text-danger"></small>
			</div>

		</div>
		<div class="form-row">

			<div class="form-group col-md-12">
				<div class="card">
					<div class="card-header">
						<p><i class="fa fa-camera"></i> Fotos de las habitaciones</p>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="fotos">Imágenes</label>
							<input class="form-control-file" type="file" id="fotos" name="fotos" multiple required/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="idHabitacion" th:value="${habitacion.id}" />
		<div class="text-left mt-3">
			<a class="btn btn-secondary" href="/">Cancelar</a>
			<button class="btn btn-primary" sec:authorize="isAuthenticated()">Modificar</button>
		</div>
	</form>
</div>
<script>


	$(document).ready(function () {
		// Inicializar Select2
		$('#comodidades').select2();
	});

</script>
<script>
	function goBack() {
		window.history.back();
	}
</script>
<script>

	function validateDescripcion() {
		var descripcionInput = document.getElementById('descripcion');
		var descripcionError = document.getElementById('descripcionError');

		var descripcionRegex = /^[a-zA-ZÁÉÍÓÚáéíóúÑñÇç][a-zA-ZÁÉÍÓÚáéíóúÑñÇç,.0-9 -]*(?: [a-zA-ZÁÉÍÓÚáéíóúÑñÇç,.0-9 -]+)*$/; // Expresión regular para descripción: letra seguida de letras, números y espacios, con máximo un espacio seguido

		if (!descripcionInput.value.trim() || !descripcionRegex.test(descripcionInput.value.trim())) {
			descripcionInput.classList.add('is-invalid');
			descripcionError.textContent = 'Ingrese una descripción válida.';
			return false;
		} else {
			descripcionInput.classList.remove('is-invalid');
			descripcionError.textContent = '';
			return true;
		}
	}
	function validateCapacidad() {
		var capacidadInput = document.getElementById('capacidad');
		var capacidadError = document.getElementById('capacidadError');

		if (capacidadInput.value < 1) {
			capacidadInput.classList.add('is-invalid');
			capacidadError.textContent = 'La capacidad mínima es de 1 persona.';
			return false;
		} else {
			capacidadInput.classList.remove('is-invalid');
			capacidadError.textContent = '';
			return true;
		}
	}

	function validateCantidad() {
		var cantidadInput = document.getElementById('cantidad');
		var cantidadError = document.getElementById('cantidadError');

		if (cantidadInput.value < 1) {
			cantidadInput.classList.add('is-invalid');
			cantidadError.textContent = 'La cantidad mínima es de 1 habitación.';
			return false;
		} else {
			cantidadInput.classList.remove('is-invalid');
			cantidadError.textContent = '';
			return true;
		}
	}

	function validatePrecio() {
		var precioInput = document.getElementById('precio');
		var precioError = document.getElementById('precioError');

		if (precioInput.value < 1) {
			precioInput.classList.add('is-invalid');
			precioError.textContent = 'El precio mínimo es de 1.';
			return false;
		} else {
			precioInput.classList.remove('is-invalid');
			precioError.textContent = '';
			return true;
		}
	}

	function validateFormulario() {

		if (validateDescripcion() && validateCapacidad() && validateCantidad() && validatePrecio()) {
			return true;
		} else {
			return false;
		}
	}


</script>