<div class="container">
	<h1>Crear Usuario</h1>
	<form action="/usuario/c" method="post">
		Nombre
		<input type="text" name="nombre" required="required" autofocus="autofocus" />
		<br />
		
		Apellido
		<input type="text" name="apellido" required="required" />
		<br />
		
		Correo
		<input type="text" name="correo" required="required" />
		<br />

		Contraseña
		<input type="password" name="contrasenia" required="required"  />
		<br />
		
		Direccion
		<input type="text" name="direccion" required="required" />
		<br />
		
		Telefono
		<input type="number" name="telefono" required="required"  />
		<br />
		
		
		

		<input type="submit" />
		<br />
	</form>

	<form action="/usuario/r">
		<input type="submit" value="Cancelar" />
	</form>
</div>